<div class="center jumbotron">
  <h1>  Welocme to shikshaeduskills</h1>

  <h2>
    Welocme to shikshaeduskills work in progress
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
